.nav {
    margin: 1rem;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(35, 206, 107);
    border: 2px solid black;
    border-radius: 10px;
    color: black;
}

.button {
    background-color: rgb(35, 206, 107);
    border: 2px solid black;
}

.buttons {
    display: flex;
    align-items: center;
}